/* body{
    background-color: #9CD3F9 !important
} */
#maincontain {
  /*background-color: #d3b0bc; */
  background-color: #000;
  position: relative;
   z-index: 98; 
  height: 300px;
  width: 100%;
}

/* PARALLAX */

.keyart, .keyart_layer {
  height: 60rem;
}

#parallax {
  display: none;
}

#nonparallax {
  display: block;
}

#nonparallax {
  background-image: url(''); /* mobile image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.keyart {
  position: relative;
  z-index: 10;
}

 .keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
   background-repeat: repeat-x; 
  width: 100%;
  position: absolute;
} 

.keyart_layer.parallax {
  position: fixed;
  background-size: cover;
}

#keyart-0 {
  /* background-image: url('http://i.imgur.com/txKhHme.png');
  background-color: #9CD3F9; */
}

#keyart-1 {
  background-image: url('http://i.imgur.com/qTVCuvY.png');
}

#keyart-2 {
  background-image: url('http://i.imgur.com/6H6GtL1.png');
}

#keyart-3 {
  background-image: url('http://i.imgur.com/CICw5ld.png');
}

#keyart-4 {
  background-image: url('http://i.imgur.com/ixkLm7b.png');
}

#keyart-5 {
  background-image: url('http://i.imgur.com/MnybSr8.png');
}

#keyart-6 {
  background-image: url('http://i.imgur.com/jbOO94A.png');
}

#keyart-7 {
  background-image: url('img/jbOO94A.png');
}

#keyart-8 {
  background-image: url('img/jbOO94A.png');
}

#keyart-scrim {
  background-color: #9CD3F9;
  opacity: 0;
}

/********************/
/********************/

/* ENABLES PARALLAX */

/********************/
/********************/

@media (min-width: 601px) {
  #nonparallax {
    display: none;
  }
  #parallax {
    display: block;
  }
}

/*********************/
/*********************/

/* DISABLES PARALLAX */

/*********************/
/*********************/

@media (max-width: 600px) {
  #nonparallax {
    display: block;
  }
  #parallax {
    display: none;
  }
}

@media only screen and (max-device-width: 450px) {
  /* PARALLAX */
  .keyart, .keyart_layer {
    height: 550px;
  }

  .keyart_layer {
    position: absolute;
    background-size: auto 600px;
  }
}

/* Headline */

#logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* .alpha-label {
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-size: .15em;
  font-weight: 600;
  border: 1px solid currentColor;
  border-radius: 1em;
  display: inline-block;
  padding: .3em .75em;
  line-height: 1;
  vertical-align: top;
  position: absolute;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 25px;
} */
/* #logo-box h1 {
  margin-bottom: .1em;
  font-family: 'Shadows Into Light',
    cursive,
    'Avenir Next',
    Avenir,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: #FFDF00;
}
#logo-box h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 1em;
  margin-top: -.5em;
  color: #fff;
} */
/* button */
/* .m-t-1 {
  margin-top: 1rem;
} */
/* .btn {
  font-family: 'Avenir Next',
    Avenir,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  display: inline-block;
  padding: .7em 1.4em;
  border-radius: 5px;
  color: #2980b9;
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #2980b9;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.btn-play {
  background: rgba(255, 255, 255, .9);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
  color: #2980b9;
  font-weight: 500;
  padding-right: 30px;
  transition: box-shadow .2s ease;
}
.btn-play:after {
  font-family: "Ionicons";
  content: "\f10b";
  width: 15px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 1px;
  font-weight: 700;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.btn-play:hover::after {
  left: 15px;
}
.btn-large {
  font-size: 16px;
  padding: 8px 16px;
} */
